{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<iframe height="400px" width="100%" src="https://repl.it/repls/GiddyVariableChemistry?lite=true&outputonly=1" scrolling="no"
frameborder="no" allowtransparency="true"
allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>

<html>
  <head>
  </head>
  <body>
    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function goPython(){
            $.ajax({
              url: "MYSCRIPT.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>
  </body>
</html>

{% endblock %}
